* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: Roboto, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.main-header{
    background-color: #F8FAFC;
}
ul {
    list-style: none;
    padding-left: 0;
}
  
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
  
.my-name {
      text-transform: capitalize;
}
  
nav {
    font-family: Roboto, Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 25px;
    background-color: #107896;
}
  
h1, 
.top-nav {
    text-align: center;
}
  
.top-nav, 
.top-nav li {
    width: 100%;
}
  
.top-nav {
    margin-top: 30px;
}
  
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}


.profile-picture {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.intro,
.conclusion {
    margin-right: 25px;
    margin-left: 25px;
} 

.intro {
    padding-bottom: 25px;
    text-align: center;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
}
.main-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}


.contact {
    text-align: center;
    background-color: #F8FAFC;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
}

.contact-title {
    text-transform: uppercase;
}

.email-address {
    text-transform: lowercase;
}

img {
    width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.2em;
}
.main-footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #107896;
  }

.footer-name {
    float: left;
    height: 12px;
    line-height: 12px;
}
  
.footer-nav {
    text-align: right;
    list-style: none;
    padding-left: 0;
}
  
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}
  
.top, 
.footer-nav li:last-child {
    margin-right: 0;
}
  
.footer-nav .full {
    display: none;
}
  
  


